@font-face { 
    font-family: 'Ion Duel'; 
    src: url('fonts/Ion-Duel.ttf'); 
} 

/* fonts below for roman languages */
body, h1, h2, h3, ul, p, p.site a, p.nav a {
	color: #000;
	/*font-family: "Arial Unicode MS", Helvetica, "Lucida Sans Unicode", sans-serif;*/
    font-family: 'Ion Duel';
	text-align: justify;
}
p {
    text-indent:1.3em;
}
span {
    line-height:110%;
}
body.arabic,
body.arabic h1,
body.arabic h2,
body.arabic h3,
body.arabic ul,
body.arabic p,
body.arabic p.site a,
body.arabic p.nav a {
	font-family: "Simplified Arabic", serif;
}
body {
	background-color: #a1cdd2;
/*	background-color: #a2cfd3;*/
/*	background-color: #987f4c;*/
}
div.page {
	background-color: #fff;
	padding-bottom: 1em;
/*	width: 600px; */
	border: 1px solid #000;
}
div.title {
	background-color: #000;
	padding-bottom: 1px; 		/* for bottom gold bar */
	margin-bottom: 1em;
	border: none;
	border-top: solid 1px #B5A642; 
}
h1, h2 {
	margin: 0;
	padding: 0 10px 1em;
	color: #B5A642; 
	border-bottom: solid 1px #B5A642; 
	font-size: 180%;
}
h2 {
	padding: 1em 10px 0;
	border-bottom: none;
	font-size: 120%;
}
h3 {
	font-size: 150%;
}
h3, p {
	margin-left: 10px;
	margin-right: 10px;
}
.toc {
	font-size: 130%;
	line-height: 2.5em;
}
.nobr {
	white-space:nowrap;
}
/*  use when mixing English with RTL language in same block, ie. footer */
.ltr { direction:ltr; 
	text-align: right;
	}

/*  top site settings */
p.site a,
p.site a:link,
p.site a:visited,
p.site a:active  {color: #333; text-decoration: none;}
p.site a:hover { text-decoration: underline; }
p.site {
	padding: 2px 10px;
	margin: 0;
	font-size: 80%;
}

/* bible nav */
img,
img:link,
img:visited {
	margin-right: 3px;
	border: 1px outset #000;
	background-color: #B5A642;
}
img:active,
img:hover { 
	border: 1px outset #ccc;
	background-color: #fff;
}
img.indent {
	margin-left: 10px;
}
/* bible nav rtl */
#rtl img,
#rtl img:link,
#rtl img:visited {
	margin-right: 0;
	margin-left: 3px;
}
#rtl img.indent {
	margin-left: 0;
	margin-right: 10px;
}

/* superscription in Psalms */
.w {
	font-size: 80%;
}
span.l {
	margin-left: 0;
}
span.p {
	margin-left: 20px; 
}
#rtl span.l {
	margin-right: 0;
}
#rtl span.p {
	margin-left: 0;
	margin-right: 20px;
}
/* second part poetic verse, additional indentation */
span.z { 
	margin-left: 40px;
}
#rtl span.z {
	margin-left: 0;
	margin-right: 40px;
}
/* first part poetic verse */
p.l, 
p.p {
	text-indent: -45px;
	margin-left: 65px;
}
#rtl p.l,
#rtl p.p {
	margin-left: 0;
	margin-right: 65px;
}
	
/* second line(s) of poetic verse flush with p.p */
p.l span.p {
	margin-left: -26px;
}
#rtl p.l span.p {
	margin-left: 0;
	margin-right: -26px;
}
p.l span.z,
p.p span.z {
	margin-left: -10px;
}
#rtl p.l span.z,
#rtl p.p span.z {
	margin-left: 0;
	margin-right: -10px;
}
p.p span.p {
	margin-left: -45px;
}
#rtl p.p span.p {
	margin-left: 0;
	margin-right: -45px;
}
/* Big chapter number for John 7 and 8 */
p.initcap:first-letter {
	float: left;
	font-weight:bold;
	font-size: 3em;
	line-height: 83%;
	padding-right: 5px;
}
#rtl p.initcap:first-letter {
	float: right;
	padding-left: 5px;
	padding-left: 0;
}
/* text that appears in smaller type */
.small, .postscript {
	font-size: 80%;
}
/* used in Hab, Mal, Mark 16, John 7, John 8 */
.postscript {
	margin-top: 2em;
	text-align: center;
}


.vsAnchor {
	font-size: 100%;
	font-weight: bold;
	vertical-align: text-top;
	color: #000;
}
/* hyperlinks */
a, a:link, a:visited, a:active {
	text-decoration: none;
	color: #00C;
}
a:hover {
	text-decoration: underline;
	 color: #03f;
}
/* nav bar */
div.topnavigation table {
	background-color: #000;
	margin: 0;
}
div.topnavigation td { 
	text-align: center;
	border-left: 1px solid #eee;
	font-size:80%;
}
#rtl div.topnavigation td {
	border-left: none;
	border-right: 1px solid #eee;
}
div.topnavigation td.nobar { 
	border-left: none; 
	border-right: none;
}
div.topnavigation a,
div.topnavigation a:link,
div.topnavigation a:visited,
div.topnavigation a:active {
	color: #eee;
}
div.topnavigation a:hover { 
	color: #fff;
}
div.topnavigation img {
	background-color: #333;
	border: none;
}

div.footer p { 
	font-size: 80%;
	margin: .5em 10px 0;
} 
